@page "/project/{Id:guid}"
@using NbgDev.Pst.App.Components

<h3>Project</h3>

@if (Project is null)
{
    <MudText>No project with ID @Id found.</MudText>
}
else
{
    <MudPaper Class="pa-4 mb-4">
        <MudText Typo="Typo.h6">@Project.Name</MudText>
        <MudText>ID: @Project.Id</MudText>
        <MudText>Short Name: @Project.ShortName</MudText>
    </MudPaper>

    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true">
        <MudTabPanel Text="Members">
            <MembersPanel ProjectId="@Id" />
        </MudTabPanel>
        <MudTabPanel Text="Permissions">
            <div class="pa-4">
                @if (Project.Group != null)
                {
                    <MudText Typo="Typo.h6" Class="mb-2">EntraId Security Group</MudText>
                    <MudText><strong>Group Name:</strong> @Project.Group.Name</MudText>
                    <MudText><strong>Group ID:</strong> @Project.Group.Id</MudText>
                }
                else
                {
                    <MudText>No security group has been created yet for this project.</MudText>
                }
            </div>
        </MudTabPanel>
        <MudTabPanel Text="Settings">
            <div class="pa-4">
                <MudText>Project settings will be here.</MudText>
            </div>
        </MudTabPanel>
    </MudTabs>

    <div class="mt-4">
        <MudButton OnClick="GoHome">Go home</MudButton>
    </div>
}
